# Byte-compiled files
__pycache__/
*.py[cod]

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# .env file for environment variables
.env

# Excel files
*.xlsx

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
